/* Fonts ======================================================= */

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Viewport & Page Setup ====================================================== */

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

/* Colors ====================================================== */

:root {
    --mdwblue: #003b79;
    --white: #ffffff;
}

.mdw-dark-blue {
    background: var(--mdwblue);
    color: #ffffff;
}

.mdw-dark-blue-text {
    color: var(--mdwblue);
}

.mdw-light-blue {
    background: #0ca0d6;
    color: #ffffff;
}

.text-white {
    color: #ffffff;
}

/* ScreenReader only content =================================== */

.sr-only {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* Typography =================================================== */

h1 {
    font-family: 'Lyon Text Web', 'Roboto', sans-serif;
    color: var(--mdwblue);
    font-size: 26px;
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 0px;
    font-weight: normal;
}

h2 {
    font-family: 'Lyon Text Web', 'Roboto', sans-serif;
    color: var(--mdwblue);
    font-size: 21px;
    font-weight: bold;
    line-height: 25px;
    padding-bottom: 0.5em;
    margin-top: 1em;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
}

h3 {
    font-family: 'Lyon Text Web', 'Roboto', sans-serif;
    color: var(--mdwblue);
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    line-height: 1.2;
    padding-bottom: 0.2em;
    margin-bottom: 10px;
}

h4 {
    font-family: 'Lyon Text Web', 'Roboto', sans-serif;
    color: var(--mdwblue);
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 0.8em;
}

h5 {
    font-family: 'Lyon Text Web', 'Roboto', sans-serif;
    color: var(--mdwblue);
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    padding-bottom: 0.2em;
}

h6 {
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    padding-bottom: 0.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--mdwblue);
    text-underline-offset: 0.1em;
}

a:visited {
    color: var(--mdwblue);
}

a:hover {
    text-decoration: underline;
    color: var(--mdwblue);
}

.mainContent a {
    /* color: #0000FF !important; */
    color: #000 !important;
    text-decoration: underline !important;
}

.mainContent a:visited {
    /* color: #0000FF !important; */
    color: #000 !important;
    text-decoration: underline !important;
    /* text-decoration: underline; */
}

/* Header  ====================================================== */

header {
    background-color: var(--mdwblue);
    color: #ffffff;
}

/* positioning */

.header-flexBox {
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    padding-top: 15px;
    justify-content: flex-end;
    margin-left: -30px;
}

.header-flexBox a {
    text-decoration: none;
    color: #ffffff;
}

.header-flexBox .left {
    margin-right: auto;
}

.header-flexBox .right {
    padding-top: 40px;
}

/* First Row */
.header-firstRow {
    height: 40px;
}

/* SVG logo of the mdw */
.header-firstRow .mdwLogo {
    padding-top: 10px;
    min-width: 120px;
}

.svgLogo {
    background-repeat: no-repeat;
    display: block;
    background-image: url("https://repo.mdw.ac.at/shared/images/mdw-logo-white.svg");
    height: 75px;
}

.header-firstRow .mdwRepository {
    font-family: "Oswald";
    font-weight: 300;
    font-style: normal;
    font-size: 1.2em;
    text-decoration: none;
}

/* Second Row */
/* includes Repository Service name and right box that can be used for Quicklinks or language switch */
.header-secondRow {
    height: 80px;
}

.appname {
    font-family: "Oswald";
    font-weight: 400;
    font-style: normal;
    font-size: 2.2em;
    text-decoration: none;
}

/* Mobile view */

@media (max-width: 576px) {
    .header-flexBox .right {
        visibility: hidden;
    }

    .header-firstRow {
        height: 40px;
    }

    .header-firstRow .mdwLogo {
        visibility: hidden;
    }

    .header-firstRow .mdwRepository {
        font-family: "Oswald";
        font-weight: 400;
        font-style: normal;
        font-size: 1.2em;
        text-decoration: none;
    }

    .header-secondRow {
        height: 80px;
    }

    .appname {
        font-size: 2em;
    }

    .svgLogo {
        display: none;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .svgLogo {
        height: 50px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .svgLogo {
        max-height: 60px;
    }

}

@media (min-width: 992px) and (max-width: 1399px) {
    .svgLogo {
        max-height: 75px;
    }

}

@media (min-width: 1400px) {
}

/* Navbar  ====================================================== */

.navbar {
	background-color: #d2dce5;
	border: 0px;
}

@media (min-width: 768px) and (max-width: 1105px) {
    .navbar-right {
        float: none !important;
    }
}

/* TODO: review usage */
span.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 16px; }

/* Footer  ====================================================== */

footer {
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: var(--mdwblue);
    text-align: center;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    /*color: #1fa9e3;*/
    /* color: #777; */
    /* color: #007bff; */
    color: #fff;
    text-underline-offset: 0.1em;
}

footer a:visited {
    /*color: #157aa4;*/
    /* color: #777; */
    /* color: #007bff; */
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
    /*color: #157aa4;*/
    /* color: #777; */
    color: #fff;
}

/* Remaining ACDH styles  ====================================================== */

/*Button's text is all in caps and bold. When adding html markup text should be all in lowercase. */
.btn {
   /* font-weight: bold;
    font-variant: small-caps;*/
    white-space: normal;
    margin-bottom: 10px;
}
.separate-panel legend, .legend-blue {
    /*change color of border when the pallete is chosen*/
    border: 2px solid #caebf2;
    background-color: #caebf2;
    /*color: #ffffff;*/
    padding: 5px;
}
.select2-container {
 /*   width: 100%;*/
}

/* css for checkbox widget in filters */
.chbx-select-multi {
  /* 1.5-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.8); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
  margin: 5px 10px 5px 10px;
  border: 1px solid #aaa;

}
/*overriding css for field labels, helptext in filters*/
.control-label {
    font-weight: 600;
}
.help-block {
    font-size: 0.8rem;
}
.card-index {
    padding: 80px;
    z-index: 1;
    /*margin-top: -900px;*/
    margin-top: -80px;

}
.title-index {
    font-weight: 900;
    color: #254aa5;
    font-size: 350%;
}
@media (max-width: 768px) {
    .card-index {
        padding: 30px !important;
    }
    .title-index {
    font-weight: 900;
    font-size: 200% !important;
}

}

.paragraph-index {
    font-weight: 900;
}
.hr-index {
    height: 4px;
    border: 0;
    background: #254aa5;
    width: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.h2-index {
    color:#254aa5;
    font-weight: 800;
    text-align: center;
}
#yourmap {
    z-index: 0;
    /*min-height: 1000px;*/
   /* min-height: 450px;*/
}
.special-index {
    padding: 30px;
    border-radius: 50%;
    background-color: #fbbf18ff;
    color: #fff;
    font-weight: 800;
    margin-left: -80px;
    margin-top: -450px;
    width: 10rem;
    height: 10rem;
    z-index: 2;
}

.btn-index {
    margin-top: 5px;
    margin-bottom: 0px;
    /*margin-left: 10px;
    margin-right: 10px;*/
    background-color: #ffffff;
    color: #254aa5;
    border: 3px solid #254aa5;
    font-weight: 800;
    white-space: normal;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0px 0px 0px 0px #254aa5;
    transition: box-shadow 0.6s linear;
}

.btn-index:hover {
   box-shadow: 0px 0px 0px 2px #254aa5;

}


.tooltip-inner {
  background-color: #fff !important;
  /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
  color: #000;
  border: 1px solid #000;
  text-align: left;
  max-width: auto;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #fff;
  color: #fff;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #000;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #000;
}

a > .fa-2x {
    color: #444;
}

/* Forms  ====================================================== */

.form-divider {
    padding-bottom: .21428571rem;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.custom-select {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    color: #495057;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.modelselect2 {
    padding-top: 8px;
}

.select2-selection--multiple {
    overflow-y: auto !important;
    height: auto !important;
}

.select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 20px;
    padding: 1px;
}

.formset-div {
    padding-bottom: 15px;
}

.mainContent a.formsetAdd {
    color: #008038 !important;
    text-decoration: none !important;
}

.mainContent a.formsetAdd:before {
      font-family: "Font Awesome 6 Free"; font-weight: 400; content: "\2b\00a0";
      text-decoration: none !important;
    }


.mainContent a.formsetRemove {
    color: #ff0000 !important;
    text-decoration: none !important;
}

.mainContent a.formsetRemove:before {
      font-family: "Font Awesome 6 Free"; font-weight: 400; content: "\f2ed\00a0";
      text-decoration: none !important;
    }


.accordion-header {
    background-color: #003b7929;
}

.form-headline {
    background-color: #003b7912;
    padding-left: 10px;
    padding-top: 10px;
}

.row1 {
    background-color: #003b7908;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(64, 64, 64, .1)
}

/* Add button  ====================================================== */

#tray {
    position: fixed;
    bottom: 64px;
    right: 32px;
    z-index: 10;
    transition: color 0.25s ease-in-out;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

/* Autosuggest  ====================================================== */

.select2-selection__rendered {
    margin-top: -5px;
}

.select2-search__field {
    display: block;
    width: 100%;
    height: calc(1.5em + .5rem + 2px);
    padding: 0.25rem .5rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.2rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.select2-results__message {
    font-size: .875rem;
    line-height: 1.5;
}

.select2-results__option {
    font-weight: normal;
    display: block;
    font-size: .875rem;
    line-height: 1.5;
    white-space: nowrap;
    min-height: 1.2em;
    color: #495057;
    padding: 0px 2px 1px;
}

/* Search Results  ====================================================== */

.sresult {
    overflow: auto;
    padding: 0.625rem;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    margin-bottom: 0.625rem;
}

.sresult .res_type-badge {
    display: inline-block ! important;
    float: left ! important;
    text-align: center ! important;
    word-break: break-word;
    padding: 0.25rem;
    font-size: 0.6rem;
}

.res_type-badge .res_type-badge-icon {
    font-size: 20px ! important;
}

.sresult .ressummary {
    display: inline-block ! important;
    max-width: calc(100% - 180px) ! important;
    margin-left: 1ch ! important;
    height: 100% ! important;
}

.applied_filters {
    padding-bottom: 10px;
}

.applied_filters a {
    text-decoration: none !important;
}

.applied_filters a.link_underline {
    text-decoration: underline !important;
}

.pag_and_sort {
    border: 1px solid #cccccc;
    background-color: #f2f5f9;
    padding-top: 10px;
    margin-bottom: -15px;
}

.pag {
    border: 1px solid #cccccc;
    padding-top: 10px;
    background-color: #f2f5f9;
    margin-bottom: 30px;
}

.pag nav {
    margin-bottom: -15px;
}

.pag nav ul {
    justify-content: center!important;
}

/* Main Content Section  ====================================================== */

.content_section {
    margin: 30px auto 0 auto !important;
}

/* Breadcrumbs  ====================================================== */

.breadcrumb-content {
    /*border-bottom: 1px solid #ced4da; */
}

.breadcrumb {
    background-color: transparent;
    padding: 0 1rem 0 0;
}

.breadcrumb-item, .breadcrumb-item a {
    color: #505152;
}


.breadcrumb-item + .breadcrumb-item::before {
    content: " /";
}

.page-list {
    background-color: #ffffff;
    padding-bottom: 8px;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

/* Left Sidebar (Aside)  ====================================================== */

.aside-all {
    padding-top: 45px;
}

.aside-facets ul > li:first-child {
    border-width: 1px 1px 0 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.aside-facets ul > li {
    padding-bottom: 0;
    font-size: 80%;
}

.identifiers ul {
    display: inline;
    margin-top: 0;
    margin-bottom: -10px;
}

.badge-primary {
    color: #fff;
    background-color: var(--mdwblue);
}

.btn-primary {
    color: #fff;
    background-color: var(--mdwblue);
    border-color: transparent;
    border-width: 0px;
}


/* Splitter Section  ====================================================== */

.stage {
  background: #fff;
  height: 100%;
  display: flex;
}

.main {
  width: 30%;
  max-width: 100%;
  min-width: 25%;
}

.col {
  flex-shrink: 0;
  flex-grow: 1;
}

.sheet {
  height: 100%;
  background: #fff;
  padding: 10px;
}

.splitter {
  background-color: #e5e5e5;
  border-radius: 4px;
  z-index: 1;
  flex: 0 0 auto;
  width: 10px;
  max-width: 100%;
  margin: 0 5px 0 5px;
  background: #e5e5e5;
  cursor: col-resize;
  transition: all .15s ease;
}

.splitter-signifier {
  flex-grow: 1;
  background-color: #FCB900 !important;
}

.splitter-active {
  background-color: #0080C5;

  .cls-1 {
    fill: #fff;
  }
}

.col-hidden {
  width: 0px;
  flex-grow: 0;
  flex-shrink: 1;

  .sheet {
    border: 0px;
    padding: 0px;
  }
}



@media only screen and (max-width: 716px) {
  .main {
    width: 100% !important;
  }

  .splitter {
    display: none;
  }

  .col {
    display: none;
  }
}

/* Accordion in Crispy Forms ====================================================== */


.accordion-title>a {
  display: block;
  position: relative;
}

.accordion-title>a:after {
  content: "\f078";
  /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}

.accordion-title>a[aria-expanded="true"]:after {
  content: "\f077";
  /* fa-chevron-up */
}

.recommended {
    border-left: 4px solid #04adad;
    background-color: #09bfbf59;
}

.mandatory {
    border-left: 4px solid #9d0000;
    background-color: #dd0000a3;
}

.mandatoryIfApplicable {
    border-left: 4px solid #dd7607;
    background-color: #ffa749eb;
}

.optional {
    border-left: 4px solid #446aff;
    background-color: #9cb0ffb3
 }

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: white;


.text-decoration-none-important {
    text-decoration: none !important;
}

.formblock {
    background-color: azure;
    padding: 10px;
}

.select2-selection--multiple {
    border: 1px solid ;
    width: 100%;
    border-color: #ced4da !important;
}

.select2-container--default {
  background-color: white;
  border: 1px solid;
  border-radius: 4px;
  cursor: text;
  width: 100%;
  border-color: #ced4da !important;
}

/* Cards  ====================================================== */

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
