{% extends "webpage/base.html" %}
{% load i18n static guardian_tags webpage_extras %}
{% get_force_script_name as SCRIPT_NAME %}

{% block content %}
    <div class="container">
        <div class="row content_section">
            <div class="col-md-2">
                <aside>
                    <div class="aside-feeds">
                        <a href="feed/atom">
                            <img src="{% settings_value 'SHARED_URL' %}shared/images/atom.svg" alt="Atom logo">
                        </a>
                        <br/>
                        <a href="feed/rss">
                            <img src="{% settings_value 'SHARED_URL' %}shared/images/rss20_logo.svg" alt="RSS2 logo">
                        </a>
                    </div>
                    <div class="aside-all">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <small><a href="?">All SKOS Collections</a></small>
                                <span class="badge badge-success">{{ count_skoscols }}</span>
                            </li>
                        </ul>
                    </div>
                    <hr/>
                    <div class="aside-search">
                        <form method='GET'>
                            <div class="input-group">
                                <input type='text' name='q' placeholder="Search for ..."
                                       class="form-control textinput textInput form-control-sm" maxlength="255"
                                       value='{{ request.GET.q }}'>
                                <div class="input-group-append">
                                    <button class="btn-sm btn-primary" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    <br/>
                </aside>
            </div>
            <div class="col-md-10">
                <section>
                    <div class="breadcrumb-content mb-0">
                        <ul class="breadcrumb mb-0">
                            <li class="breadcrumb-item mb-0">
                                <a
                                   href="/"
                                   hreflang="{{ LANGUAGE_CODE }}"
                                   aria-label="{% translate 'go to the homepage of the mdwRepository' %}"
                                   title="{% translate 'go to the homepage of the mdwRepository' %}">
                                    mdwRepository
                                </a>
                            </li>
                            <li class="breadcrumb-item mb-0">
                                <a
                                   href="{% if not SCRIPT_NAME == '' %}{{ SCRIPT_NAME }}{% endif %}/"
                                   hreflang="{{ LANGUAGE_CODE }}"
                                   aria-label="{% translate 'go to the homepage of the mdwRepository' %}"
                                   title="{% translate 'go to the homepage of ' %} {% projects_metadata 'title' %}">
                                    {% projects_metadata 'title' %} Home
                                </a>
                            </li>
                            <li class="breadcrumb-item mb-0">
                                SKOS Collection
                            </li>
                        </ul>
                    </div>
                    <h1>{% translate "SKOS Concept Records" %}</h1>
                    {% if request.GET.q %}
                        <div class="applied_filters">
                            <span class="inline-label metadata-item-label">
                                <small>Applied Filters:</small>
                            </span>
                            <br/>
                            {% if request.GET.q %}
                                <a href="?{% if request.GET.sort %}sort={{ request.GET.sort }}{% endif %}">
                                    <span class="badge badge-primary">
                                        <small><i class="fa-solid fa-x"></i></small>&nbsp;
                                        Query: &nbsp;&nbsp; {{ request.GET.q }}
                                    </span>
                                </a>
                            {% endif %}
                            &nbsp; <small><a href="?" class="link_underline">{% translate 'Clear all' %}</a></small>
                        </div>
                    {% else %}
                        <div><small>{% translate 'No filters applied.' %}</small></div>
                    {% endif %}
                    {% if 'vocabs.add_skoscollection' in perms %}
                        <div id="tray">
                            <a href="{% url 'vocabs:skoscollection_create' %}">
                                <button type="button" class="btn-success btn-circle btn-xl">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </a>
                        </div>
                    {% endif %}
                    {% if object_list.count > 0 %}
                        <article>
                            <br/>
                            <div class="row pag_and_sort">
                                <div class="col-8">
                                    {% include "webpage/pagination.html" with req=request.GET %}
                                </div>
                                <div class="col-4 text-right">
                                    <form method='GET'>
                                        <select class="form-control form-control-sm" id="sort" name="sort"
                                                onchange="this.form.submit()">
                                            <option value="titleasc">Title - A to Z</option>
                                            <option value="titledsc">Title - Z to A</option>
                                        </select>
                                    </form>
                                    <script>
                                        var urlParams = new URLSearchParams(window.location.search);
                                        let queryString = urlParams.get('sort');
                                        document.getElementById("sort").querySelector("option[value='" + queryString + "']").selected = true;
                                    </script>
                                </div>
                            </div>
                            {% for object in page_obj %}
                                {% get_obj_perms request.user for object as "obj_perms" %}
                                {% if 'view_skoscollection' in obj_perms %}
                                    <div class="sresult row mb-0">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-9">
                                                    &nbsp;
                                                </div>
                                                <div class="col-3 text-right">
                                                    <span class="mdw-dark-blue-text">
                                                        <i class="fa-solid fa-book-open"></i>&nbsp;
                                                        SKOS Collection</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-9">
                                                    <h3>
                                                        <a href="{{ object.get_absolute_url }}"
                                                           name="{{ object.pref_label }}">
                                                            {{ object.name }} | {{ object.label_lang }}
                                                        </a>
                                                    </h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                </div>
                                            </div>
                                            {% if object.has_labels %}
                                                <div class="row">
                                                    <div class="col-12">
                                                        {% for label in object.has_titles.all %}
                                                            <div class="row">
                                                                <div class="col-4">{{label.language}}</div>
                                                                <div class="col-8">{{label.name}}</div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="row pag">
                                <div class="col-12">
                                    {% include "webpage/pagination.html" with req=request.GET %}
                                </div>
                            </div>
                        </article>
                    {% else %}
                        <div>
                            <br/>
                            {% translate "No SKOS Collection records found." %}
                            <br/>
                        </div>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}