{% extends "webpage/base.html" %}
{% load static %}

{% block content %}
<div class="container">
<div style="text-align: center;">
    
    <h2>We're sorry, the page you requested cannot be found.</h2>
    <p style="text-align: center">The page you're trying to access may not exist anymore or may have been moved. Try accessing it again from our site's homepage. Please also make sure that your spelling is correct.</p>
    <p style="text-align: center">If the problem persists, please report it as an issue <a href="https://gitlab.com/mdwrepository/djangobase-cookiecutter/issues">here</a>. Thank you!</p>

</div>
</div>
{% endblock %}