<!DOCTYPE html>
{% load static i18n %}
{% load webpage_extras %}
{% load browsing_extras %}
{% load infos_extras %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html class="no-js" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% projects_metadata 'title' %}{% endblock %}</title>
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block metaDescription %}
        <meta name="description" content="{{ metadata.description }}">
        <meta name="author" content="{{ metadata.author }}">
    {% endblock %}
    {% block og_base %}
        <meta property="og:title" content="{% projects_metadata 'title' %}" />
        <meta property="og:description" content="{{ metadata.description }}" />
        <meta property="og:site_name" content="{% block og_site_name %}{{ self.get_site.site_name }}{% endblock %}"/>
        <meta property="og:type" content="{% block og_type %}website{% endblock %}"/>
    {% endblock %}
    <!-- favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% settings_value 'SHARED_URL' %}/favicon/apple-touch-icon.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="{% settings_value 'SHARED_URL' %}/favicon/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{% settings_value 'SHARED_URL' %}/favicon/favicon-16x16.png"/>
        <link rel="manifest" href="{% settings_value 'SHARED_URL' %}/favicon/manifest.json"/>
        <link rel="manifest" href="{% settings_value 'SHARED_URL' %}/favicon/site.webmanifest"/>
        <link rel="mask-icon" href="{% settings_value 'SHARED_URL' %}/favicon/safari-pinned-tab.svg" color="#003b79"/>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    <!--favicons end -->
    <script src="{% settings_value 'SHARED_URL' %}shared/libraries/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% settings_value 'SHARED_URL' %}shared/libraries/bootstrap-select/1.13.1/css/bootstrap-select.min.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500" />
    <link rel="stylesheet" id="fundament-styles"  href="{% settings_value 'SHARED_URL' %}shared/libraries/fundament/css/fundament.min.css" type="text/css" />
    <link rel="stylesheet" href="{% settings_value 'SHARED_URL' %}shared/libraries/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{% settings_value 'SHARED_URL' %}shared/libraries/font-awesome/6.1.1/css/all.min.css" type="text/css" />
    <link rel="stylesheet" href="{% settings_value 'SHARED_URL' %}shared/libraries/select2/4.0.13/css/select2.min.css" type="text/css" />
    <link rel="stylesheet" href="{% settings_value 'SHARED_URL' %}shared/libraries/select2-bootstrap4-theme/select2-bootstrap4.min.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'webpage/css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% settings_value 'SHARED_URL' %}shared/libraries/scroll-to-top/css/ap-scroll-top.min.css" type="text/css" />
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message":"This website uses cookies to ensure you get the best experience on our website",
            "dismiss":"Got it!",
            "learnMore":"More info",
            "link":"{% projects_metadata 'imprint' %}",
            "theme":"dark-bottom"};
    </script>
    <script src="{% static 'webpage/libraries/cookieconsent2/1.0.9/cookieconsent.min.js' %}" type="text/javascript"></script>
    <!-- End Cookie Consent plugin -->
    <!-- Matomo -->
      <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="{% projects_metadata 'matomo_url' %}";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '{% projects_metadata "matomo_id" %}']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
    <!-- End Matomo Code -->
    {% block scriptHeader %}
    {% endblock %}
</head>
<body role="document" class="home contained fixed-nav" id="body">
<a href="#main" name="main_content" id="main_content" tabindex="-1" class="sr-only">skip to main content</a>
<a href="#navigation" name="main_navivation" id="main_navigation" tabindex="-1" class="sr-only">skip to navigation</a>
<div class="hfeed site" id="page">
    <!-- blue mdw header bar -->
    <header>
        <div class="container header-firstRow">
            <div>
                <ul class="header-flexBox">
                    <li class="left mdwRepository">
                        <a href="https://repo.mdw.ac.at/" hreflang="{{ LANGUAGE_CODE }}" title="{% translate 'go to the homepage of the mdwRepository' %}"> mdwRepository </a>
                        <span class="sr-only"> {%  translate 'this link will forward to the mdwRepository homepage' %} </span>
                    </li>
                    <li class="mdwLogo">
                        <a href="https://mdw.ac.at/" aria-label="mdw website" title="zur Homepage der mdw" hreflang="{{ LANGUAGE_CODE }}">
                            <div class="svgLogo"></div>
                        </a>
                        <span class="sr-only"> {%  translate 'go to the homepage of the mdw' %} </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container header-secondRow">
            <div>
                <ul class="header-flexBox">
                    <li class="left appname">
                        <!-- change to project title abbreviation if needed  -->
                        <a href="{% if not SCRIPT_NAME == '' %}{{ SCRIPT_NAME }}{% endif %}/" aria-label="{%  translate 'go to the homepage' %}" title="{%  translate 'go to the homepage of ' %} {% projects_metadata 'title' %}" hreflang="{{ LANGUAGE_CODE }}"> {% projects_metadata 'title' %} </a>
                    </li>
                    <li class="right">
                        <!-- <span class="text-white">Quicklinks</span> -->
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- blue mdw header bar -->
    <!-- navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="main_navivation">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <!-- Your menu goes here -->
                <ul id="main-menu" class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'infos:about-the-project' %}">About the project</a>
                            <a class="dropdown-item" href="{% url 'infos:project-team' %}">Team</a>
                            <a class="dropdown-item" href="{% url 'webpage:data_model' %}">Data Model</a>
                            <a class="dropdown-item" href="{% url 'webpage:staticpage' template='imprint' %}">Imprint | Impressum</a>
                        </div>
                    </li> {% if 'vocabs' in APPS %} {% if user.is_authenticated %} <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vocabs Curation <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu"> {% nav_menu app='vocabs' as links %} {% for x in links %} <a class="dropdown-item" href="{{ x.link }}">{{ x.name }}</a> {% endfor %} <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'api-root' %}">Export SKOS (API)</a>
                        </div>
                    </li> {% endif %} {% endif %}
                </ul>
                <ul class="navbar-nav justify-content-end"> {% if user.is_authenticated %} <li class="nav-item dropdown ml-auto">
                        <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ user.get_username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="nav-link" href="{% url 'webpage:user_logout' %}">log out <i class="feather-32" data-feather="log-out"></i></a>
                        </div>
                    </li> {% else %} <li class="nav-item dropdown my-2 my-lg-0">
                        <a class="nav-link" href="{% url 'webpage:user_login' %}">
                            <i class="feather-32" data-feather="log-in"></i>
                        </a>
                    </li> {% endif %} </ul>
            </div>
            <!-- .collapse navbar-collapse -->
        </div>
        <!-- .container -->
    </nav>
    <!-- .site-navigation -->
    <!-- main content -->
    <main>
        <div id="content" class="container">
            <div id="mainContent" class="mainContent doppel clearfix">
                {% if DEV_VERSION %}
                    <div class="alert alert-danger" role="alert">
                        This is a DEVELOPMENT instance. Click <a href="https://repo.mdw.ac.at/{{ PROJECT_NAME }}">here</a> for the Production version
                    </div>
                {% endif %}
                {# Main content of page - other layout templates override this block #}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    <footer>
        <div class="container mainfooter">
            ©&nbsp;{% now 'Y' %}&nbsp;mdw – Universität für Musik und darstellende Kunst Wien<br/>
            &nbsp; Anton-von-Webern-Platz1, 1030 Wien, T +43 1 711 55<br/>
            <a href="{% url 'webpage:staticpage' template='imprint' %}" title="{%  translate 'imprint of the mdwRepository' %}"
            aria-label="{%  translate 'imprint' %}" alt="{%  translate 'imprint of the mdwRepository' %}">
                {%  translate 'imprint' %}
            </a>
            |
            <a href="https://www.mdw.ac.at/datenschutz/?PageId=6" target="_blank" aria-label="{%  translate 'data protection' %}"
               alt="{%  translate 'data protection information of the mdw' %}">
                {%  translate 'data protection' %} <span class="sr-only">opens in a new window</span>
            </a>
            |
            <a href="https://www.mdw.ac.at/repository/terms-of-use/" target="_blank" aria-label="{%  translate 'terms of use' %}"
               alt="{%  translate 'terms of use of the mdwRepository' %}">
                {%  translate 'terms of use' %}  <span class="sr-only">opens in a new window</span>
            </a>
            {% if user.is_authenticated %}
                {% if DB_NAME %}
                       <small>{{ DB_NAME }}</small>
                 {% endif %}
            {% endif %}
        </div>
    </footer>
</div>
        {% block scripts %}
            <script src="{% settings_value 'SHARED_URL' %}shared/libraries/fundament/js/fundament.min.js" type="text/javascript"></script>
            <script src="{% settings_value 'SHARED_URL' %}shared/libraries/popper.js/1.14.7/umd/popper.min.js" type="text/javascript"></script>
            <script src="{% settings_value 'SHARED_URL' %}shared/libraries/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="{% settings_value 'SHARED_URL' %}shared/libraries/bootstrap-select/1.13.1/js/bootstrap-select.min.js" type="text/javascript"></script>
            <script src="{% settings_value 'SHARED_URL' %}shared/libraries/scroll-to-top/js/ap-scroll-top.min.js" type="text/javascript"></script>     {% endblock %}
        {% block scripts2 %}
        {% endblock scripts2 %}
    </body>
</html>